.pagination {
    display: flex;
    width: 240px;
    font-size: 14px;
    background-color: rgb(241, 241, 241);
    border-radius: 12px;
    padding: 0 12px;
}

.item, .selectedItem {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    user-select: none;
    height: 36px;
    margin: 2px;
}

.selectedItem {
    color: #6ebd96;
    border-radius: 12px;
}